.git
.github
.env.local
.env.*.local
var/cache
var/log
var/data
vendor
assets/vendor
public/assets
public/bundles
compose.yaml
compose.override.yaml
phpunit.dist.xml
phpunit.xml
tests
*.md
!README.md
start.sh
start.ps1
